{% extends "base.html" %}
{% block slider %}
    buraya kritere göre arama seçeneği gelecek..!
{% endblock slider %}
{% block content %}
    {% for obj in objects %}
        <article>
            <div class="heading">
                <h2><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>
                <p class="info">>>> {{ obj.user }} - {{ obj.published | date }} - {{ obj.category}}</p>
            </div>
            <div class="content">
                <a href="{{ obj.get_absolute_url }}">
                    <img src='{{ obj.image.url }}' id="img-all-post"/>
                </a>
                <p> {{ obj.content | linebreaks | truncatewords:70 }}</p>
            </div>
            <div class="footer">
                <p class="more">
                    <a class="button" id="devamini-oku" href="{{ obj.get_absolute_url }}">Devamını oku >></a>
                </p>
            </div>
        </article>
        <div class="ayrac"></div>
    {% endfor %}
{% endblock content %}