{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}Django | Blog{% endblock title %}</title>
	<meta name="description" content="Özcan Yarımdünya">
	<meta name="author" content="www.ozcanyd.com">

    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href='{% static "css/mystyle.css" %}'/>
	<link rel="stylesheet" href='{% static "css/zerogrid.css" %}'/>
	<link rel="stylesheet" href='{% static "css/style.css" %}'/>
    <link rel="stylesheet" href='{% static "css/responsive.css" %}' />
	<link rel="stylesheet" href='{% static "css/responsiveslides.css" %}' />

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->

	<link href='{% static "images/favicon.ico" %}' rel='icon' type='image/x-icon'/>

	<script src='{% static "js/jquery.min.js" %}'></script>
	<script src='{% static "js/responsiveslides.js" %}'></script>
	<script>
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 800,
        namespace: "centered-btns"
      });
    });
  </script>

</head>
<body>

<header>
	<div class="zerogrid">
		<div class="row">
			<div class="col05">
				<div id="logo">
                    LOGO
                </div>
			</div>
			<div class="col06 offset05">
				<div id='search-box'>
				  <form action='' id='search-form' method='get' target='_top'>
					<input id='search-text' name='q' placeholder='type here' type='text'/>
					<button id='search-button' type='submit'><span>Search</span></button>
				  </form>
				</div>
			</div>
		</div>
	</div>
</header>

<nav>
	<ul>
		<li><a href="/">Anasayfa</a></li>
        <li id="li-break">|</li>
		<li><a href="/category">Kategoriler</a></li>
        <li id="li-break">|</li>
		<li><a href="/all">Tüm Yazılar</a></li>
		<li id="li-break">|</li>
        <li><a href="/contact">İletişim</a></li>
		<li id="li-break">|</li>
        <li><a href="/about">Hakkımda</a></li>
        <li id="li-break">|</li>
        <li><a href="/admin">Admin</a></li>
	</ul>
</nav>

<section id="content">
	<div class="zerogrid">
		<div class="row block">
			<div class="main-content col11">
                {% block slider %}
                    <div class="rslides_container">
                        <ul class="rslides" id="slider">
                            <li><img src='{% static "images/1.jpg" %}'/></li>
                            <li><img src='{% static "images/2.jpg" %}'/></li>
                            <li><img src='{% static "images/3.jpg" %}'/></li>
                            <li><img src='{% static "images/4.jpg" %}'/></li>
                        </ul>
                    </div>
                {% endblock slider %}

                {% block content %}
                    <article>
                        <div class="heading">
                            <h2><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>
                            <p class="info">>>> {{ obj.user }} - {{ obj.published | date }} - {{ obj.category}}</p>
                        </div>
                        <div class="content">
                            <img src='{{ obj.image.url }}' id="img-main-menu"/>
                            <p> {{ obj.content | linebreaks | truncatewords:70 }}</p>
                        </div>
                        <div class="footer">
                            <p class="more">
                                <a class="button" href="{{ obj.get_absolute_url }}">Devamını oku >></a>
                            </p>
                        </div>
                    </article>
                {% endblock content %}
			</div>

			<div class="sidebar col05">
                {% block AboutUs %}
                    <section>
                        <div class="heading">Follow me on</div>
                        <div class="content">
                            <div id="sosyal">
                                <ul>
                                    <li><img src="{% static "images/facebook-icon.png" %}" alt=""></li>
                                    <li><img src="{% static "images/Twitter-icon.png" %}" alt=""></li>
                                    <li><img src="{% static "images/instagram-icon.png" %}" alt=""></li>
                                    <li><img src="{% static "images/google-plus-icon.png" %}" alt=""></li>
                                    <li><img src="{% static "images/linkedin-icon.png" %}" alt=""></li>
                                    <li><img src="{% static "images/Github-icon.png" %}" alt=""></li>
                                    <li><img src="{% static "images/youtube-icon.png" %}" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                {% endblock AboutUs %}

                {% block popular %}
                    <section>
                        <div class="heading">Popüler Yazılar</div>
                        <div class="content">
                            {% for obj in populer %}
                            <section>
                                <img src='{{ obj.image.url }}' style="border: 1px solid #006699; width:25%; height: 45px"/>
                                <h4><a href="{{ obj.get_absolute_url }}">{{ obj.title  }}</a></h4>
                            </section>
                            {% endfor %}
                        </div>
                    </section>
                {% endblock popular %}

                {% block Categories %}
                    <section>
                        <div class="heading"><a href="/category/" id="kategori_tit">Categories</a></div>
                        <div class="content">
                            <ul class="list">
                            {% for obj in categories %}
                                <li><a href="/category/detail/{{ obj.id }}">{{ obj.name }}</a></li>
                            {% endfor %}
                                <li><a href="/category/"><i style="color: #006699">tümünü gör ...</i></a></li>
                            </ul>

                        </div>

                    </section>
                {% endblock Categories %}
			</div>

		</div>
	</div>
</section>

<!--------------Footer--------------->
<footer>
	<div class="zerogrid">
		<div class="row">
			<section class="col-1-3">
				<div class="heading">About us</div>
				<div class="content">
					Free Basic Html5 Templates created by <a href="#">Zerotheme</a>. You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.
				</div>
			</section>
			<section class="col-1-3">
				<div class="heading">Categories</div>
				<div class="content">
					<ul>
						<li><a href="#">Free Html5 Templates</a></li>
						<li><a href="#">Free Css3 Templates</a></li>
						<li><a href="#">Free Responsive Html5 Templates</a></li>
						<li><a href="#">Free Basic Html5 Templates</a></li>
						<li><a href="#">Free Layout Html5 Templates</a></li>
					</ul>
				</div>
			</section>
			<section class="col-1-3">
				<div class="heading">Featured Post</div>
				<div class="content">
					<table border="0px">
						<tr>
							<td><img src='{% static "images/thumb4.jpg" %}'/></td>
							<td><img src='{% static "images/thumb5.jpg" %}'/></td>
							<td><img src='{% static "images/thumb6.jpg" %}'/></td>
						</tr>
						<tr>
							<td><img src='{% static "images/thumb6.jpg" %}'/></td>
							<td><img src='{% static "images/thumb5.jpg" %}'/></td>
							<td><img src='{% static "images/thumb4.jpg" %}'/></td>
						</tr>
					</table>
				</div>
			</section>
		</div>
	</div>
</footer>

<div id="copyright">
	<p>Copyright © 2016 - @ozcaan11</p>
	<p><a href="#" target="_blank">django web app</a>
        by <a href="#" target="_blank">@ozcaan11</a></p>
</div>

</body></html>
